<!DOCTYPE html>
<html>
<head>
    <title>Nueva Encomienda</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'encomiendas/css/estilo.css'%}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Crear Nueva Encomienda</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        <a href="{% url 'index' %}" class="btn btn-secondary my-4">Volver</a>
    </div>
</body>
</html>
